<!-- employee_health_and_safety_status -->
<div class="panel panel-{{::options.color}} b">
  <div class="panel-heading headerBackgroundMobile">
    <h2 class="h4 panel-title" ng-if="!c.data.mobile">
      <fa ng-if="::options.glyph.length" class="m-r-sm"></fa
      >{{(data.view=='self' ? "Today's " : "")}} ${Return to Workplace status}
    </h2>
    <h2 class="h4 panel-title" ng-if="c.data.mobile">
      <fa ng-if="::options.glyph.length" class="m-r-sm"></fa
      >{{(data.view=='self' ? "Today's "employee_health_and_safety_status :
      '')}} {{(data.view=='self' ? 'Return to Workplace status' : 'Visitor
      status')}}
    </h2>
  </div>
  <div class="panel-body" class="invalid-url" ng-if="!data.validUrl">
    <p class="strong">{{data.invalid_url_message}}</p>
    <p>{{data.invalid_url_action_message}}</p>
  </div>
  <div class="panel-body" ng-if="data.validUrl">
    <!-- employee picker for screeners -->
    <div ng-if="data.isScreener">
      <div
        ng-if="data.view=='screener' && !c.data.mobile"
        class="user-type-container"
      >
        <div>
          <input
            ng-model="userStatus.userType"
            type="radio"
            id="employee"
            name="type"
            value="employee"
          />
          <label class="radio-button-label" for="employee">${Employee}</label
          ><br />
        </div>
        <div class="visitor-radio-button">
          <input
            ng-model="userStatus.userType"
            type="radio"
            id="visitor"
            name="type"
            value="visitor"
          />
          <label class="radio-button-label" for="visitor">${Visitor}</label
          ><br />
        </div>
      </div>
      <div ng-if="userStatus.userType === 'employee' && !userStatus.isLoading">
        <h2
          ng-if="data.view=='screener' && !c.data.mobile"
          class="h2 panel-title"
          style="font-size: 14px"
        >
          ${Use QR Scan Code : }&nbsp;&nbsp;<label class="switch">
            <input type="checkbox" ng-model="c.qrScan" />
            <span class="slider round"></span>
          </label>
        </h2>
        <!-- STRY2342405 :: modified display-field and search-fields-->
        <div ng-if="c.qrScan">
          <sn-record-picker
            id="employee_picker"
            ng-focus="true"
            field="userStatus.selUser"
            table="'sys_user'"
            display-field="'name'"
            value-field="'sys_id'"
            search-fields="'user_name,name'"
            page-size="100"
            default-query="'user_nameISNOTEMPTY^active=true^emailENDSWITH@servicenow.com'"
          ></sn-record-picker>
        </div>
        <div ng-if="!c.qrScan && !data.mobile">
          <!--himanshu-->
          <!-- STRY2342405 :: sn-disabled="!c.qrScan"-->
          <!-- DFCT0115744 , changed search-fields -->
          <sn-record-picker
            field="userStatus.selUser"
            table="'sys_user'"
            display-field="'name'"
            value-field="'sys_id'"
            search-fields="'user_name,name'"
            page-size="100"
            default-query="'nameISNOTEMPTY^active=true'"
          ></sn-record-picker>
        </div>
      </div>
      <div
        ng-if="(userStatus.userType === 'visitor' || c.data.mobile) && !userStatus.isLoading && data.view=='screener'"
      >
        <!-- RC added printer location for screener to select , visitor app story -->
        <!-- ng-show="showPrinter" -->
        <div>
          <label class="radio-button-label" for="wsd_visitor_printer_picker"
            >${Select Printer}</label
          >
          <span
            class="fa fa-asterisk mandatory"
            ng-class="{'mandatory-filled': field.mandatory_filled()}"
            style="padding-right: 0.25em"
            aria-label="Mandatory "
            aria-hidden="false"
          ></span>

          <sn-record-picker
            id="wsd_visitor_printer_picker"
            field="wsd_visitor_printer_picker"
            table="'sn_wsd_visitor_printer_configuration'"
            default-query="'u_building!=NULL'"
            display-field="'u_display_name'"
            value-field="'sys_id'"
            search-fields="'u_display_name'"
            page-size="100"
          ></sn-record-picker>
        </div>
        <br />
        <label class="radio-button-label" for="wsd_visitor_registration_picker"
          >${Select Visitor}</label
        >
        <span
          class="fa fa-asterisk mandatory"
          ng-class="{'mandatory-filled': field.mandatory_filled()}"
          style="padding-right: 0.25em"
          aria-label="Mandatory "
          aria-hidden="false"
        ></span>

        <sn-record-picker
          id="wsd_visitor_registration_picker"
          field="userStatus.selUser"
          table="'sn_wsd_visitor_visitor_registration'"
          default-query="c.data.wsd_visitor_query"
          display-field="'u_name'"
          value-field="'sys_id'"
          search-fields="'first_name,last_name,email'"
          page-size="100"
        ></sn-record-picker>
      </div>
      <!-- RC - added canvas to print visitor badge -->
      <div ng-hide="true">
        <canvas
          class="hidden_canvas_badge_print"
          width="350"
          height="215"
        ></canvas>
      </div>
      <div
        class="user-type-message"
        ng-if="!userStatus.baseData.isLoading && !userStatus.selId"
      >
        <p ng-if="userStatus.userType === 'employee'">
          ${Please select an employee.}
        </p>
        <p ng-if="userStatus.userType === 'visitor'">
          ${Please select a visitor.}
        </p>
      </div>
    </div>

    <!-- loading indicator for when user changes -->
    <div
      class="loading-indicator"
      id="user_loading"
      ng-if="userStatus.isLoading"
    >
      <p>${Loading...}</p>
    </div>

    <div
      class="user-status-container"
      ng-if="!userStatus.isLoading && userStatus.selId"
    >
      <!-- no entry in core user table -->
      <div
        class="user-not-found"
        ng-if="userStatus.baseData.userFound && !userStatus.baseData.userExistsInCoreUserTable"
      >
        <p class="strong">${No Health and Safety user record found}</p>
        <p>${Ask the workplace safety team to create a record.}</p>
      </div>

      <!-- display errors, will only occur if user is invalid if using url param -->
      <div
        class="user-not-found"
        ng-if="!userStatus.baseData.userFound && data.isScreener"
      >
        <p>{{userStatus.baseData.user_error_message}}</p>
      </div>

      <!-- RC - visitor 2nd phase ; STRY2443341 -->
      <div
        ng-if="userStatus.userType === 'visitor' &amp;&amp; !c.data.isEhsRequired"
        style="text-align: center"
      >
        <div class="user-info">
          <h3>{{c.shorten.name}}</h3>
          <p>{{c.shorten.company}}</p>
          <!-- RC DPL -->

          <!-- <p ng-if="c.is_dpl">${DPL ACTIVE}</p> -->
          <span class="rc_cleared label sc-field-error-label">
            <i class="fa fa-circle"></i>{{c.shorten.state}}</span
          >
          <br /><br />
          <span ng-if="c.is_dpl" class="sc-field-error-label not-cleared">
            <i class="fa fa-circle"></i>${ DPL In Progress}</span
          >

          <!-- <p>{{c.shorten.state}}</p> -->
        </div>
        <br />
        <button
          class="btn btn-success"
          ng-click="c.wsdRedirectToRegistration()"
          ng-class="{'add-fav-btn add-mobile-style' :  c.data.mobile}"
        >
          ${Show Visitor Record}
        </button>
        <button
          ng-if="data.view == 'screener'"
          type="button"
          class="btn btn-success"
          ng-click="c.screenAnotherEmployee()"
          ng-class="{'add-fav-btn add-mobile-style ' :  c.data.mobile}"
        >
          ${Check in Next Person}
        </button>
      </div>

      <!-- if user exists in core user table -->
      <div
        class="user-found"
        ng-if="userStatus.baseData.userFound &amp;&amp; userStatus.baseData.userExistsInCoreUserTable"
      >
        <div class="user-info" ng-if="userStatus.userType === 'visitor'">
          <h3>{{userStatus.baseData.user}}</h3>
          <p>{{userStatus.baseData.userTitleLocation}}</p>
        </div>
        <div class="user-info" ng-if="userStatus.userType === 'employee'">
          <sn-avatar
            class="avatar-bigger"
            primary="userStatus.baseData.userId"
          ></sn-avatar>
          <h3>{{userStatus.baseData.user}}</h3>
          <p>{{userStatus.baseData.userTitleLocation}}</p>
          <!-- @note RC - added part of STRY2462904 -->
          <p>{{userStatus.baseData.user_display_field}}</p>
        </div>
        <div class="user-status">
          <span
            class="label sc-field-error-label"
            ng-class="{'cleared' : userStatus.baseData.cleared, 'not-cleared' : !userStatus.baseData.cleared}"
          >
            <i class="fa fa-circle"></i
            >{{userStatus.baseData.cleared_message}}</span
          >
        </div>
        <div class="safety-requirements">
          <div
            class="safety-requirement"
            ng-repeat="req in userStatus.baseData.reqs"
          >
            <i
              class="fa"
              ng-class="{'fa-check' : req.requirement_cleared, 'fa-minus' : !req.requirement_cleared}"
            ></i>
            <span
              class="safety-requirement-name"
              ng-class="{'safe-req-min-width-60': c.data.mobile || (req.requirement_valid_until && (data.vaccineRequirementId != req.requirement_id || data.view=='self')) }"
              >{{req.requirement_name}}&nbsp;&nbsp;</span
            >
            <a
              class="safety-requirement-action-name"
              ng-if="req.requirement_action_name && !c.data.mobile && userStatus.baseData.userId == c.data.loggedInUser && !req.requirement_valid_until"
              aria-label="{{req.requirement_action_name}}"
              href="{{(req.requirement_action_url ? userStatus.baseData.portalSuffix+req.requirement_action_url : '')}}"
              target="{{req.requirement_action_url_target}}"
              ng-click="c.processRequirementEvent(req)"
            >
              {{req.requirement_action_name}}
            </a>
            <a
              class="safety-requirement-action-name"
              ng-if="req.requirement_action_name && c.data.mobile && !req.requirement_valid_until"
              aria-label="{{req.requirement_action_name}}"
              href="{{(req.requirement_action_url ? userStatus.baseData.portalSuffix+req.requirement_action_url : '')}}"
              ng-click="c.processRequirementEvent(req)"
            >
              {{req.requirement_action_name}}
            </a>
            <span
              class="safety-requirement-valid-for safe-req-min-width-60"
              ng-if="req.requirement_valid_until && (c.data.mobile || data.vaccineRequirementId != req.requirement_id || data.view=='self') "
              >{{req.requirement_valid_until}}</span
            >
          </div>
          <div
            class="vaccination-requirement-message"
            ng-if="data.vaccineReqExists"
          >
            ${If vaccination/COVID-19 testing requirement shows as not cleared,
            be prepared to show proof of your negative test result.}
          </div>
        </div>

        <!-- RC , visitor badge print -->
        <div
          style="text-align: center"
          ng-if="userStatus.userType === 'visitor'"
        >
          <!-- RC - visitor 2nd phase ; STRY2443341 ; changed below function code -->
          <button
            class="btn btn-success"
            ng-click="c.wsdShowTemperatureScreeningVisitor()"
            ng-class="{'add-fav-btn add-mobile-style' :  c.data.mobile}"
            ng-if="data.view == 'screener' && data.accessTempScreen"
          >
            ${Visitor Health Screening}
          </button>

          <button
            class="btn btn-success"
            ng-click="c.wsdRedirectToRegistration()"
            ng-class="{'add-fav-btn add-mobile-style' :  c.data.mobile}"
          >
            ${Show Visitor Record}
          </button>
          <button
            ng-if="data.view == 'screener'"
            type="button"
            class="btn btn-success"
            ng-click="c.screenAnotherEmployee()"
            ng-class="{'add-fav-btn add-mobile-style ' :  c.data.mobile}"
          >
            ${Check in Next Person}
          </button>
        </div>
        <br />
        <div
          style="text-align: center"
          ng-if="userStatus.userType === 'employee'"
        >
          <button
            ng-if="!c.data.mobile  && data.view != 'screener'"
            type="button"
            class="btn btn-success"
            onclick="window.location='/health_updates'"
          >
            ${Return to Microsite}
          </button>
          <button
            ng-if="!c.data.mobile && data.view == 'screener'"
            type="button"
            class="btn btn-success"
            ng-click="c.screenAnotherEmployee()"
          >
            ${Check in Next Person}
          </button>

          <button
            ng-if="!c.data.mobile  && data.view == 'screener' && data.accessTempScreen"
            type="button"
            class="btn btn-success"
            ng-click="c.showTemperatureScreening()"
          >
            ${Health Screening}
          </button>
          <button
            id="assignppe"
            ng-if="!c.data.mobile  && data.view == 'screener' && data.accessPPE"
            type="button"
            class="btn btn-success"
            ng-click="c.showPPEAssignment()"
          >
            ${Assign PPE}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
