<div ng-if="c.valid_profile">
  <!-- your widget template -->
  <div>
    <span class="oc_header">${Steps to return to the workplace}</span>
  </div>
  <!-- <div>
        <span class="oc_rsv_status">${Pending}</span>
    </div> -->
  <div class="">
    <ul class="fa-ul list oc_gap">
      <li>
        <i class="fa-li fa fa-square-o li-icon" />
        ${*SUGGESTED WORKSPACE FOR TODAY}
      </li>
    </ul>
    <span class="oc_rsv_status">${Pending}</span>
    <div class="oc_seat">
      <div>
        ${Building }{{c.result.seat_building_label}}${ - Floor
        }{{c.result.seat_floor_label}}
      </div>
      <div>${Space: }{{c.result.seat_space_label}}</div>
    </div>
    <div class="oc_rsv_button" ng-show="c.result.seat_space_label">
      <a href="javascript:void(0)" ng-click="c.redirectToReservation()"
        >Reserve</a
      >
    </div>
    <br />
    <ul class="fa-ul list oc_gap">
      <li>
        <i class="fa-li fa fa-square-o li-icon" />
        ${*SUGGESTED WORKSPACE FOR TOMORROW}
      </li>
    </ul>
    <div class="oc_seat">
      <div>${Building 1 - Floor 5}</div>
      <div>${Space: A1.101}</div>
    </div>
    <div class="oc_rsv_button"><a href="javascript:void(0)">Reserve</a></div>
    <div class="oc_rsv_button">
      <a href="javascript:void(0)">Custom reservation</a>
      <span style="padding-left: 10px; padding-right: 10px">${|}</span>
      <a href="javascript:void(0)">View reservation</a>
    </div>
  </div>
</div>
